<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User </title>
</head>

<body>
    <div class = "user-detail">
        <form action="/editUser" method="POST">
            <label> First Name </label>
            <input type="text" placeholder="Enter First Name" name="firstName" required><br>

            <label> Last Name </label>
            <input type="text" placeholder="Enter Last Name" name="lastName" required><br>
            
            <label> Email </label>
            <input type="text" placeholder="Enter Email" name="email" required><br>

            <label> Password </label>
            <input type="text" placeholder="Enter Password" name="password" required><br>

            <label> Role </label>
            <input type="text" placeholder="Enter Role" name="password" required><br>

            <label> Job </label>
            <input type="text" placeholder="Enter Job" name="password" required><br>

            <!-- <label> Title </label>
            <input type="text" placeholder="Enter Title" name="password" required value={{newUserPW}}>
            
            <label> About </label>
            <input type="text" placeholder="About" name="password" required value={{newUserPW}}> -->

        
        
        </form>
    </div>
</body>