<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oopsies</title>
    <style>
        body {
            text-align: center;
        }

        div h1 {
            font-size: 90px;
            margin-bottom: 0;
        }
        input[type=button],
        input[type=submit] {
            margin: auto;
            padding: 10px;
            background-color: #71b9ff;
            color: #fff;
            border: none;
            font-size: 22px;
            border-radius: 10px;
            transition: box-shadow 0.5s;
            outline: none;
            cursor: pointer;
            width: 350px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Oopsie!</h1>
        <h3>Looks like we can't find your account :(</h5>
            <p>Please double check your username and password before login again.</p>
            <p>If you don't have an account, feel free to register instead!</p>
            <form action="/goBackToLogin" method="POST">
                <input type="submit" name="login-btn" class="btn" value="Go Back">
            </form>
    </div>
</body>

</html>